<div class="row">
    <div class="col-xs-12">
      <a style="cursor :pointer;" class="list-group-item clearfix" *ngFor="let currency of currencies">
  
        <div class="row">
          <div class="col-xs-3">
            <h4 class="list-group-item-heading">{{ currency.Name}}</h4>
          </div>
          <div class="col-xs-3">
            <p class="list-group-item-text">{{ currency.Value }}</p>
          </div>
       <div class="col-xs-3">
        <input type="text" class="form-control" placeholder="введите сумму для обмена" aria-label="введите сумму для обмена" aria-describedby="basic-addon1">
       </div>
       <div class="col-xs-3" >
        <button type="button" class="btn btn-primary" (click)="onChangeCurrency()">обмен валюты</button>
       </div>
        </div>
      </a>
    </div>
  </div>